# Model weights
*.pt
weights/
runs/
runs_train/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Dataset
*.zip
*.rar

# Logs
*.log
.streamlit/
.cache/
